{% extends 'base.html' %}
{% load static %}
{% block title %}
    Privacy Policy - Carfax reports - carfaxchecker.com
{% endblock %}
{% block meta_title %}
    Privacy Policy - Carfax reports - carfaxchecker.com
{% endblock %}
{% block meta_description %}
    Support - Carfax reports - carfaxchecker.com History of a car from America by Vin code. ✅ Car history: accident, mileage, year and much more.
{% endblock%}
{% block og_title %}
    Privacy Policy - Carfax reports - carfaxchecker.com
{% endblock %}
{% block og_description %}
    Privacy Policy - Carfax reports - carfaxchecker.com History of a car from America by Vin code. ✅ Car history: accident, mileage, year and much more.
{% endblock %}
{% block twitter_title %}
    Privacy Policy - Carfax reports - carfaxchecker.com
{% endblock %}
{% block twitter_description %}
    Support - Carfax reports - carfaxchecker.com History of a car from America by Vin code. ✅ Car history: accident, mileage, year and much more.
{% endblock %}
{% block content %}
    <div class="container py-5">
        <h1>Политика обработки персональных данных</h1>
        <p>
            На CarFaxCheck, доступном по адресу https://www.carfaxchecker.com, одним из наших основных приоритетов является
            конфиденциальность наших посетителей. Этот документ Политики конфиденциальности содержит типы информации,
            собираемой и записываемой CarFaxCheck, и способы ее использования.
        </p>
        <p>
            Если у вас есть дополнительные вопросы или вам требуется дополнительная информация о нашей Политике
            конфиденциальности, не стесняйтесь обращаться к нам по электронной почте.
        </p>
        <h3>Лог-файлы</h3>
        <p>
            CarFaxCheck следует стандартной процедуре использования файлов журнала. Эти файлы регистрируют посетителей,
            когда они посещают веб-сайты. Все хостинговые компании делают это и часть аналитики хостинговых услуг.
            Информация, собираемая файлами журналов, включает адреса интернет-протокола (IP), тип браузера, поставщика
            интернет-услуг (ISP), отметку даты и времени, страницы перехода / выхода и, возможно, количество кликов. Они
            не связаны с какой-либо информацией, позволяющей установить личность. Целью информации является анализ
            тенденций, администрирование сайта, отслеживание движения пользователей на сайте и сбор демографической
            информации.
        </p>
        <h3>Файлы cookie и веб-маяки</h3>
        <p>
            Как и любой другой веб-сайт, CarFaxCheck использует файлы cookie. Эти файлы cookie используются для хранения
            информации, включая предпочтения посетителей и страницы веб-сайта, которые посетитель посещал или посещал.
            Информация используется для оптимизации работы пользователей путем настройки содержимого нашей веб-страницы
            на основе типа браузера посетителей и / или другой информации.
        </p>
        <h3>Политика конфиденциальности</h3>
        <p>
            Вы можете ознакомиться с этим списком, чтобы найти Политику конфиденциальности для каждого из рекламных
            партнеров CarFaxChecker.
        </p>
        <p>
            Сторонние рекламные серверы или рекламные сети используют такие технологии, как файлы cookie, JavaScript или
            веб-маяки, которые используются в их соответствующих рекламных объявлениях и ссылках, которые появляются в
            CarFaxCheck, которые отправляются непосредственно в браузер пользователя. Когда это происходит, они
            автоматически получают ваш IP-адрес. Эти технологии используются для измерения эффективности их рекламных
            кампаний и / или для персонализации рекламного контента, который вы видите на посещаемых вами веб-сайтах.
        </p>
        <p>
            Обратите внимание, что CarFaxCheck не имеет доступа или контроля над этими файлами cookie, которые используются
            сторонними рекламодателями.
        </p>
        <h3>Политика конфиденциальности третьих лиц</h3>
        <p>
            Политика конфиденциальности CarFaxCheck не распространяется на других рекламодателей или веб-сайты. Таким
            образом, мы советуем вам ознакомиться с соответствующими Политиками конфиденциальности этих сторонних
            рекламных серверов для получения более подробной информации. Он может включать их методы и инструкции о том,
            как отказаться от определенных вариантов. Вы можете найти полный список этих политик конфиденциальности и их
            ссылки здесь: Ссылки на политику конфиденциальности.
        </p>
        <p>
            Вы можете отключить файлы cookie в настройках своего браузера. Чтобы узнать более подробную информацию об
            управлении файлами cookie в определенных веб-браузерах, ее можно найти на соответствующих веб-сайтах
            браузеров. Что такое файлы cookie?
        </p>
        <h3>Информация для детей</h3>
        <p>
            Еще одна часть нашего приоритета - это защита детей при использовании Интернета. Мы призываем родителей и
            опекунов наблюдать, участвовать и / или отслеживать и направлять их действия в Интернете.
        </p>
        <p>
            CarFaxCheck намеренно не собирает личную информацию, позволяющую установить личность детей младше 13 лет. Если
            вы считаете, что ваш ребенок предоставил такую информацию на нашем веб-сайте,
            мы настоятельно рекомендуем вам немедленно связаться с нами, и мы сделаем все возможное. усилия по
            оперативному удалению такой информации из наших записей.
        </p>
        <h3>Согласие</h3>
        <p>
            Используя наш веб-сайт, вы тем самым соглашаетесь с нашей Политикой конфиденциальности и соглашаетесь с ее
            Условиями обслуживания.
        </p>
    </div>
{% endblock %}