{% extends 'base.html' %}
{% load static %}
{% block title %}
    Terms and Conditions - Carfax reports - carfaxchecker.com
{% endblock %}
{% block meta_title %}
    Terms and Conditions - Carfax reports - carfaxchecker.com
{% endblock %}
{% block meta_description %}
    Terms and Conditions - Carfax reports - carfaxchecker.com History of a car from America by Vin code. ✅ Car history: accident, mileage, year and much more.
{% endblock%}
{% block og_title %}
    Terms and Conditions - Carfax reports - carfaxchecker.com
{% endblock %}
{% block og_description %}
    Terms and Conditions - Carfax reports - carfaxchecker.com History of a car from America by Vin code. ✅ Car history: accident, mileage, year and much more.
{% endblock %}
{% block twitter_title %}
    Terms and Conditions - Carfax reports - carfaxchecker.com
{% endblock %}
{% block twitter_description %}
    Terms and Conditions - Carfax reports - carfaxchecker.com History of a car from America by Vin code. ✅ Car history: accident, mileage, year and much more.
{% endblock %}
{% block content %}
    <div class="container py-5">
        <h1>Оферта</h1>
        <p>1 ОПРЕДЕЛЕНИЕ ТЕРМИНОВ</p>
        <p>1.1 Публичная оферта (далее – «Оферта») - публичное предложение Продавца, адресованное неопределенному кругу лиц, заключить с Продавцом договор купли-продажи товара дистанционным способом (далее - «Договор») на условиях, содержащихся в настоящей Оферте, включая все Приложения.</p>
        <p>1.2 Заказ Товара на сайте Интернет-магазина – позиции указанные Покупателем из ассортимента Товара, предложенного к продаже, при оформлении заявки на приобретение Товара на сайте Интернет-магазина или через Оператора.</p>
        <p>2 ОБЩИЕ ПОЛОЖЕНИЯ</p>
        <p>2.1 Заказ Покупателем Товара, размещенного на сайте Интернет-магазина означает, что Покупатель согласен со всеми условиями настоящей Оферты.</p>
        <p>2.2 Администрация сайта Интернет-магазина имеет право вносить изменения в Оферту без уведомления Покупателя.</p>
        <p>2.3 Срок действия Оферты не ограничен, если иное не указано на сайте Интернет-магазина.</p>
        <p>2.4 Продавец предоставляет Покупателю полную и достоверную информацию о Товаре, включая информацию об основных потребительских свойствах Товара, месте изготовления, а также информацию о гарантийном сроке и сроке годности Товара на сайте Интернет магазина, в разделе название раздела.</p>
        <p>3 ЦЕНА ТОВАРА</p>
        <p>3.1 Цена на каждую позицию Товара указана на сайте Интернет-магазина.</p>
        <p>3.2 Продавец имеет право в одностороннем порядке изменить цену на любую позицию Товара.</p>
        <p>3.3 В случае изменения цены на заказанный Товар Продавец обязуется в течение количество дней проинформировать Покупателя об изменении цены Товара.</p>
        <p>3.4 Покупатель вправе подтвердить либо аннулировать Заказ на приобретение Товара, если цена изменена Продавцом после оформления Заказа.</p>
        <p>3.5 Изменение Продавцом цены на оплаченный Покупателем Товар не допускается.</p>
        <p>3.6 Продавец указывает стоимость доставки Товара на сайте Интернет-магазина либо сообщает Покупателю при оформлении заказа Оператором.</p>
        <p>3.7 Обязательства Покупателя по оплате Товара считаются исполненными с момента поступления Продавцом денежных средств.</p>
        <p>4 ОФОРМЛЕНИЕ ЗАКАЗА</p>
        <p>4.1 Заказ Товара осуществляется Покупателем через сервис сайта <a href="https://carfaxchecker.com">https://carfaxchecker.com</a></p>
        <p>4.2 При регистрации на сайте Интернет-магазина Покупатель обязуется предоставить следующую регистрационную информацию:</p>
        <p>4.2.1 Контактный телефон.</p>
        <p>4.3 Наименование, количество, ассортимент, артикул, цена выбранного Покупателем Товара указываются в корзине Покупателя на сайте Интернет-магазина.</p>
        <p>4.4 Принятие Покупателем условий настоящей Оферты осуществляется посредством внесения Покупателем соответствующих данных в регистрационную форму на сайте Интернет-магазина.</p>
        <p>4.5 Продавец не несет ответственности за содержание и достоверность информации, предоставленной Покупателем при оформлении Заказа.</p>
        <p>4.6 Покупатель несет ответственность за достоверность предоставленной информации при оформлении Заказа.</p>
        <p>5 ДОСТАВКА И ПЕРЕДАЧА ТОВАРА ПОКУПАТЕЛЮ</p>
        <p>5.1 После успешной оплаты, отчет будет отображен в аккаунте Покупателя.</p>
    </div>
{% endblock %}
