{% load static %}
<footer class="footer mt-auto py-4 bg-light">
    <div class="container">
        <div class="row align-items-center">
            <div
                    class="col-12 justify-content-center mb-3 d-flex flex-column flex-xxl-row flex-xl-row flex-lg-row flex-md-row">
                <a
                        href="https://carfaxcheck.com/en/privacy-policy"
                        class="link-primary ps-3 pe-3  mb-3">Privacy Policy</a>
                <a
                        href="https://carfaxcheck.com/en/terms-conditions"
                        class="link-primary ps-3 pe-3  mb-3">Terms and Conditions</a>
                <a
                        href="mailto:support@carfaxcheck.com"
                        class="link-primary ps-3 pe-3  mb-3">Support - support@carfaxcheck.com</a>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-12 justify-content-center d-flex">
                <p class="mb-0">© Copyright carfaxcheck.com All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>