{% load static %}
<header class="container">
    <nav
            class="navbar navbar-expand-lg navbar-light d-flex flex-wrap align-items-center justify-content-between py-3">
        <div class="wrap-logo d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <a href="https://carfaxchecker.com/" class="d-flex flex-column align-items-center">
                <img src="{% static 'images/cf.png' %}"
                     alt="Carfax report - vehicle history"
                     style="max-width: 220px;">
                <strong>carfaxchecker.com</strong>
            </a>
        </div>

        <div class="d-flex">
            <ul class="navbar-nav align-items-center mobile-user-menu">
                <li class="nav-item">
                    <a href="/users/login" type="button" class="btn btn-primary me-2">Login </a>
                </li>
                <li class="dropdown nav-item">
                    <a class="btn btn-outline-primary dropdown-toggle"
                       href="#"
                       id="navbarDarkDropdownMenuLink"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        EN
                    </a>
                    <ul class="dropdown-menu dropdown-lang-menu position-absolute"
                        aria-labelledby="navbarDarkDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="/lang/ua">UA</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/lang/ru">RU</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarMain"
                    aria-controls="navbarMain"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbarMain">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/#find-reports" class="nav-link px-2 link-dark">Check VIN </a>
                </li>
                <li class="nav-item">
                    <a href="/#report-pricing-package" class="nav-link px-2 link-dark">Carfax package </a>
                </li>
                <li class="nav-item">
                    <a href="/#info-carfax" class="nav-link px-2 link-dark">CarFax Info </a>
                </li>
                <li class="nav-item">
                    <a href="/#faq" class="nav-link px-2 link-dark">F.A.Q.</a>
                </li>
                <li class="nav-item">
                    <noindex>
                        <a rel="nofollow" href="/report-example" class="nav-link px-2 link-dark">Report example </a>
                    </noindex>
                </li>

                <li class="nav-item border-0">
                    <a href="/support" class="nav-link px-2 link-dark">Support</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto desktop-user-menu">
                <li class="nav-item">
                    <a href="/users/login" type="button" class="btn btn-primary me-2">Login </a>
                </li>
                <li class="dropdown nav-item">
                    <a class="btn btn-outline-primary dropdown-toggle"
                       href="#"
                       id="navbarDarkDropdownMenuLink"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        EN
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="/lang/ua">UA</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/lang/ru">RU</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

</header>